:root {
  --edge-label-color: #545454;
}

:global(.dark) {
  --edge-label-color: #ffffff;
}

.glowPath {
  pointer-events: none;
  filter: blur(3px);
}

.edgeLabel {
  transition: transform 0.1s ease;
}

.edgeLabelHovered {
  transform: scale(1.05);
}
